.rodape {
  background-color: var(--color-gray-darker-3);
  color: var(--lighter);

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin: 0 auto;
    padding: 6rem 0 3rem 0;
    max-width: 128rem;

    @media screen and (max-width: 1280px) {
      padding: 3rem 1rem 3rem 1rem;
    }

    &--alt {
      padding: 3rem 0;
    }
  }

  &__titulo {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-transform: uppercase;

    &--alt {
      text-transform: none;
    }

    &--letter {
      background: var(--lighter);
      color: var(--color-gray-darker-1);
      font-weight: 300;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

  }

  &__destaque {
    display: block;
    font-weight: 700;
    font-size: 2.1rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__link {
    color: var(--lighter);
    font-size: inherit;
    text-decoration: none;
  }

  &__social {
    display: flex;
    gap: 3.2rem;
    margin-top: 7rem;
  }

  &__pagamentos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  &__letter {
    border-radius: 1rem;
    background: var(--lighter);
    padding: 4rem;
    text-align: center;
    width: 38rem;
    margin-left: auto;

    @media screen and (max-width: 768px) {
      margin: 0 auto;
      padding: 4rem 2rem;
    }
  }

  &__txt {
    color: var(--color-gray-darker-1);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__formulario {
    display: flex;
    justify-content: center;
    height: 4.5rem;
  }

  &__ipt {
    border-radius: .4rem;
    border: .1rem solid var(--color-gray-darker-2);
    padding: 1.2rem 2.5rem;
    margin-right: .9rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2rem;

    @media screen and (max-width: 768px) {
      padding: 1.2rem;
    }

    &::placeholder {
      text-transform: uppercase;
      color: var(--color-placeholder);
    }
  }

  &__copyright {
    border-top: .1rem solid var(--lighter);
    font-size: 1rem;
    text-transform: uppercase;

    @media screen and (max-width: 1280px) {
      padding: 0rem 1rem;
    }
  }

  &__copy {
    max-width: 70rem;
    font-size: 1rem;
  }

  &__imagem {
    margin-left: auto;

    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
}
