.botao {
  background: var(--color-main);
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--lighter);
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  text-decoration: none;

  &:hover {
    background-color: var(--color-main-hover);
  }

  &--banner {
    font-size: 1.8rem;
    height: 6rem;
    width: 22.7rem;
    margin-top: 2rem;
    justify-content: center;
  }

  &--parceiro {
    border-radius: 1rem;
    font-weight: 900;
    padding: 1.5rem 3rem;
    max-height: 4.8rem;
    text-transform: uppercase;
  }

  &--form {
    max-width: 6.2rem;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
  }
}
