.botao {
  background: var(--color-main);
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--lighter);
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  text-decoration: none;

  &:hover {
    background-color: var(--color-main-hover);
  }

  &--banner {
    margin-top: 2rem;
  }
}
