.botao {
  background: #F71963;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding: 15px 40px;
  text-decoration: none;
}

.botao--banner {
  margin-top: 20px;
}