.marca {
  display: flex;
  width: 21.1rem;
  height: 21.1rem;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0 .7rem 2rem 0 var(--shadow-4);
  transition: opacity 0.5s, transform 0.5s;

  &__imagem {
    object-fit: contain;
    width: -webkit-fill-available;
  }
}
