.marcas {
  max-width: 128rem;
  margin: 0 auto;
  overflow: hidden;

  &__carrousel {
    display: flex;
    gap: 4rem;
    margin: 6rem 0;
    padding: 0 2rem;
    position: relative;
  }

  &__avancar {
    background-image: url(../../assets/svg/next.svg);
    background-position: center center;
    background-color: transparent;
    border: 0;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    top: 50%;
    right: 4.5rem;
    transform: translateY(-50%);
  }

}