.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  box-shadow: 0 .8rem 1.6rem 0 var(--shadow-3);

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    height: auto;
    background: var(--lighter);
    padding: 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    z-index: 2;
    transform: translateX(0);
    transition: .5s transform;
    gap: 1rem;
  }

  &__link {
    color: var(--color-gray-lighter-4);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: var(--color-main);

      .navegacao__link--crown {
        stroke: var(--color-main);
      }
    }

    &:last-of-type {
      display: flex;
      gap: 1.2rem;
    }

    &--destaque {
      color: var(--color-main);

      &:hover {
        text-decoration: underline;
      }
    }

    &--crown {
      stroke: var(--color-gray-lighter-4)
    }
  }
}